.mypost-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}
.container {
  background-color: #ccc;
}
.profile-header {
  justify-content: center;
  margin-left: 430px;
  margin-bottom: 30px;
}

.button{
    max-width: fit-content;
    padding: 5px;
    background-color: rgb(165, 165, 204);
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.container py-5{
  background-color: white;
}
.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.post-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.profile-header .profile-img{
    margin-left: 25px;
}
.card-body{
    height: 100px;
    padding-top: 10px;
}
.feature{
    display: flex;
    justify-content: center;
    gap: 3px;
}
.grid{
    width: 400px;
}
.add-blog-form {
  background: #f9f9f9;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-blog-form input,
.add-blog-form textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.add-blog-form button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
