.container-signup{
background-color: #fff;
  width: 360px; /* fixed width */
  padding: 40px 35px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 530px;
  margin-top: 20px;
}
text{
    height: 25px;
}
button{
    padding: 4px ;
}
.container label {
  font-size: 14px;
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 500;
}
.user {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
  box-sizing: border-box;
}

.user:focus {
  border-color: #6a11cb;
  outline: none;
}
.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(90deg, #7634bd, #2575fc);
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.9;
}
